.top{
    width:100vw;
    height:30vh;
    background-color: black;
    color:white;
}

.middle{
    margin-top: 25px;
    font-size: 40px;
    border:2px solid white;
    align-items: center;
    justify-content: center;
    color:white;
}

.middle p{
    display:inline-block;
    margin:20px;
}